@model Ligak_Optimalis_Kialakitasa.Models.Result
<div class="main-container">
        @{ await Html.RenderPartialAsync("ResultPartial", Model);}

    <div>
        <fieldset class="sticky w3-margin-top 15" style="border: 1px solid rgba(244,67,54,0.68);">
            <legend>Optimalizálás</legend>
            <div>
                <input class="w3-margin 5" type="radio" name="optimize" checked value="Simulated Annealing" />Szimulált lehűtés
                <br />
                <input class="w3-margin 5" type="radio" name="optimize" value="Genetic algortyhm" />Genetikus algoritmus
            </div>
        </fieldset>
        <form action="Optimize" method="post">
            <div style="text-align:center">
                <input type="submit" value="Optimalizálás" class="w3-button w3-red w3-large w3-opacity"  style="margin-top:30px;"/>
            </div>
        </form>
    </div>
</div>