
    <footer id="footer" class="w3-black w3-padding-xlarge w3-center">
        <div>
            <p>Elérhetőségek:</p>
            <p>Telefonszám: +36 20 555 4789</p>
            <p>Email: aaa@gmail.com</p>
        </div>
    </footer>