

<div class="navbar w3-bar w3-black">
    <span class="w3-right w3-mobile">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="w3-bar-item w3-button w3-mobile w3-hover-red">
            <i class='fas fa-home ' style='font-size:18px'></i>
            Főoldal
        </a>
        <a asp-area="" asp-controller="Home" asp-action="ConstraintsAndRules" class="w3-bar-item w3-button w3-mobile w3-hover-red">
            <i style='font-size:18px' class='fas'>&#xf013;</i>
            Bajnokság adatainak feltöltése
        </a>
        
        <a class="w3-bar-item w3-button w3-mobile w3-hover-red" href="~/#footer">
            <i class="fas fa-address-book" style='font-size:18px'></i>
            Kapcsolat
        </a>
        <a class="w3-bar-item w3-button w3-mobile w3-hover-red" href="~/#problem">
            <i class="material-icons" style="font-size:18px">help</i>
            A problémáról
        </a>
    </span>
</div>