.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.main-container {
    margin: 70px auto;
    width: 70%;
    max-width: 750px;
}

.w3-container h1 {
    color: rgba(244,67,54,0.68);
}

.showcase {
    background-position: center;
    height: 300px;
    padding: 50px;
    color: #f44336;
}

.line {
    background-position: center;
    width: 300px;
    margin: auto;
    border-width: 1px;
    border-color: rgba(244,67,54,0.68);
}
    .showcase h1 {
        font-size: 50px;
        font-weight: 500;
        text-transform: uppercase
    }


.content #ch1 {
    display: grid;
    grid-template-columns: auto 70%
}

.content #btnid {
    margin: 20px auto;
}
.showcase hr {
    width: 400px;
    margin: auto;
    border-width: 3px;
    border-color: rgba(244,67,54,0.68);
}

    .showcase button {
        margin-top: 70px;
    }


.section {
    padding: 40px 0;
    margin: 50px;
    background-color: rgba(255,0,0,0.57);
}

    .section h2 {
        padding: 0;
        margin: 10px;
    }

    .section p {
        margin: 10px;
        text-align:justify;
    }

@media only screen and (max-width:636px) {
    .section {
        margin: 15px 0px;
        padding: 20px 0px;
    }
}

@media only screen and (max-width:969px) {
    .showcase {
        margin-bottom: 120px;
    }
}

@media only screen and (max-width:400px) {
   #table1 input{
       width:100%;
   }
}

@media only screen and (max-width:680px) {
    .navbar span {
       display:grid;
       float:unset!important;
    }

    .content {
        margin-top: 200px!important;
    }

    .showcase{
        margin-top:120px;
        padding-left:10px;
    }

    .showcase h1{
        font-size:40px;
    }
}

@media only screen and (max-width:1100px) {
    #table1{
        display:block!important;
    }

    #table2 {
        margin: 0px 20px;
    }
}
@media only screen and (max-width:430px){

    #ch1{
        display:block;
    }

    #btnid{
        padding: 0;
    }
}


@media only screen and (max-width:620px) {
    
    #table2 {
        display:table-caption!important;
        margin: 0px 20px;
    }

    #teamscoordinate{
        display:none!important;
    }
    #table1 p::before {
        content: "Csapat neve";
        display:block;
    }
    #table1 p::after{
        content:"Csapat koordinátája";
        display:block;
    }

    #table1-content input:first-of-type{
        margin-bottom:10px;
    }
    .content p{
        width:auto!important;
    }

    #table2 input{
        margin:0!important;
    }
}



img {
    max-width: 100%;
    height: auto;
}

.teamscontent #div1 {
    margin: 20px auto;
    text-align: center;
    display:flex;
}

.teamscontent #div1 label{
    float:left;
    margin: 0 10px;
}

.teamscontent #div2 {
    border: 1px solid rgba(244,67,54,0.68);
}

    .teamscontent #div2 h2 {
        margin-bottom: 30px;
        padding-left:10px;
    }

#div2 #teamscoordinate {
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px 10px;
}

#teamscoordinate #data {
    line-height: 1.7;
    display: grid;
    grid-gap: 10px;
    margin-bottom: 10px;
}

.content {
    border: 1px solid rgba(244,67,54,0.68);
}
    .content h2 {
        background-color: rgba(244,67,54,0.68);
        padding: 10px;
        text-align: center;
        width:100%;
        margin:0px;
    }

    .content p {
        display: inline-block;
        margin: 20px;
        width: 20%;
        vertical-align: middle;
        font-weight:bold;
    }
    .content hr{
        margin-bottom:30px;
        width:80%;
    }

.CR-content {
    margin-top: 30px;
}
.CR-content h2 {
    text-align: center;
    height:50px;
}

    .CR-content #div1, .CR-content #div2 {
        margin: 20px;
        display: grid;
        grid-template-rows: auto;
    }
        #div1 input, #div2 input {
            place-self: center;
        }

#div3 {
    padding-bottom: 20px;
    margin:10px;
}

    .CR-content input {
        margin: 30px;
    }

#tableteams thead th{
    padding:20px;
}

.input {
    width: 50%;
    text-align: center;
    margin-top: 20px;
}


    .box-content p{
       width:auto;

    }